/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset.css */

/* Start of style.css */



body{
    background-color: rgb(29, 29, 29);
    color: rgb(228, 228, 228);
    
    
}

:root{
    --primary-color: #f1c500;
    

}

html{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    
}




nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    gap: 2rem;
    
}

.tabs{
    display: flex;
    gap: 3rem;
    align-items: center;
    font-weight: 600;
    z-index: 1;
    
    
}

.tabs > a{
    cursor: pointer;

    
}



button{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.cta-order{
    background-color: inherit;
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

.cta-order:hover{
    background-color: var(--primary-color);
    color: rgb(29, 29, 29);

}

.active{
    color: var(--primary-color);
    position: relative;
    margin-top: 7px;
    align-self: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    

}

.active::after{
    content: "\2022";
    color: var(--primary-color);
    display: block;
    height: 2px;
    text-align: center;
    margin-top: 5px;

}


.left-links{
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    gap: 10rem;
    
    
}

.left-links h1{
    font-size: 2rem;
    font-weight: 700;
    color: #858585;
    cursor: pointer;
}

.left-links h1 span{
    color: var(--primary-color);

}



.right-links{
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    margin-right: 2rem;

    
}


.hero{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0;
    
}

.hero-text{
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 800;
    margin-left: -7rem;
}

.hero > img{
    justify-self: center;
    margin-top: -7rem;
    

}

.sub-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10rem;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: -12rem;
    z-index: 10;

}

.hero-text span{
    text-decoration: underline;
    font-size: 1rem;
    position: relative;
    bottom: 1rem;
}

.hero-subtext{
    color: var(--primary-color);
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: 800;
    margin-left: 5rem;
 

}

.address-container > img{
    height: 3rem;
    width: 3rem;
    filter:  brightness(0) invert(1);
}

.address-container{
    display: flex;
    margin-left: 4rem;
    margin-top: 5rem;
}

.address{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(230, 230, 230);

}

.about{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.hero-about{
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-left: 20rem;
    text-align: center;
    

}

.about > img{
    justify-self: center;
    margin-top: -4rem;
    margin-left: 10rem;
    
    z-index: 1;
}
